.containerAdminSelect {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.ulSelect {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
}

.ulSelect li {
  cursor: pointer;
  font-weight: 500;
  color: #ccc;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 8px;
  background: rgba(30, 30, 40, 0.7);
}

.ulSelect li:hover {
  color: #fff;
  background: rgba(80, 80, 120, 0.8);
}

.active-change{
  background: linear-gradient(90deg, #00ffcc, #0066ff);
  color: #000;
  font-weight: bold;
  box-shadow: 0 0 10px #00ffff;
}
